
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil+Text:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil+Text:wght@600&family=Poppins&display=swap');

:root{
  --discblue: rgb(114, 137, 218);
}

html{
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(165, 164, 164, 0.7);
  font-family: 'Poppins', sans-serif;
}

#header-img{
  position: relative;
  display: none;
}

.container-all {
  position: relative;
}

#header{
  background-color: rgb(53, 53, 53);
  width: 100%;
}

ul{
  display: flex;
  align-items: center;
  justify-content: center;
}

li {
  text-align: center;
  list-style: none;
  width: 50rem;
}

a {
  color: white;
  font-size: 1rem;
  text-decoration: none;
}

.container {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
}

.top-text{
  font-size: 5rem;
  font-family: 'Big Shoulders Stencil Text';
  color: white;
}

.btn {
  position: relative;
  margin: auto;
  width: 100%;
  height: 2rem;
  font-size: 1em;
  font-weight: 500;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  max-width: 12rem;
  align-self: center;
  justify-self: center;
  background-color: rgb(114, 137, 218);
  margin: 1rem;
  border-radius: 1rem;
  text-align: center;
}

.grid {
  display: flex;
}

header {
  position: fixed;
  z-index: 10;
  top: 0;
  min-height: 75px;
  padding: 0px 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.logo {
  width: 100%;
  position: relative;
}

@media (max-width: 650px) {
  .logo {
    margin-top: 15px;
    width: 100%;
    position: relative;
  }
}


.logo > img {
  width: 100%;
}

nav > ul {
  width: 35vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@media (max-width: 650px) {
  nav {
    margin-top: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0 50px;
  }
  nav li {
    padding-bottom: 5px;
  }
}

@media (max-width: 950px) {
  nav > ul {
    flex-direction: column;
  }
}

#hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 375px;
  margin-top: 4rem;
  padding-top: 4rem;
  background-color: rgb(156, 196, 242);
}

#hero > h2 {
  margin-bottom: 20px;
}

#email {
  position: relative;
  max-width: 275px;
  width: 100%;
  padding: 7.5px;
  border-radius: 0.5rem;
  opacity: 0.7;
  z-index: 2;
}


.btn:hover {
  background-color: black;
  color: white;
  transition: color 1s, background-color 1s;
}

#What-it-is {
  padding-top: 75px;
  color: white;
  align-items: center;
  height: 45vh;
}

.desc > p{
  color: black;
}

#What-it-is .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 125px;
  width: 20vw;
  color: white;
}

#What-it-is .desc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 125px;
  width: 80vw;
  padding: 5px;
}

#Where-you-can-install-it {
  display: flex;
  justify-content: center;
  padding-top: 2rem;
  height: 40vh;
}

#Where-you-can-install-it > iframe {
  max-width: 560px;
  width: 100%;
}

#Premium-Membership {
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 25px;
  align-items: center;
}

.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: calc(100% / 3);
  margin: 10px;
  border: none;
  border-radius: 3px;
  background-color: white;
}

.product > .level {
  background-color:  rgb(53, 53, 53);
  color: white;
  padding: 15px 0;
  width: 100%;
  text-transform: uppercase;
  font-weight: 700;
}

.product > h2 {
  margin-top: 2rem;
}

.product > ol {
  margin: 1rem 0;
}

.product > ol > li {
  padding: 0.5rem 0;
}

#starting-add{
  font-size: 1.25rem;
  font-weight: 600;
}

.product > button {
  border: none;
  margin-bottom: 1rem;
  background-color: var(--discblue);
  font-weight: 400;
  position: relative;
}

footer {
  width: 100vw;
  left: 0;
  position: absolute;
  margin-top: 30px;
  background-color: rgb(53, 53, 53);
  padding: 20px;
  margin-top: 2.5rem;
}

footer > ul {
  display: flex;
  justify-content: flex-end;
}

footer > ul > li {
  padding: 0 10px;
}

@media (max-width: 600px){
  #hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 600px;
    margin-top: 4rem;
    padding-top: 14rem;
    background-color: rgb(156, 196, 242);
  }
  header{
    flex-wrap: wrap;
  }
  nav {
    margin-top: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    align-items: center;
    text-align: center;
    padding: 0 50px;
  }
  nav li {
    padding-bottom: 5px;
  }
}

@media (max-width: 550px) {
  #What-it-is .icon {
    display: none;
  }
}

@media (max-width: 550px) {
  #What-it-is .desc {
    width: 100%;
    text-align: center;
    padding: 0;
    height: 150px;
  }
}

@media (max-width: 650px) {
  #What-it-is {
    margin-top: 0;
    padding-top: 0;
  }
}

@media (max-width: 800px) {
  #Where-you-can-install-it {
    flex-direction: column;
  }
  .product {
    max-width: 300px;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 10px;
  }
}